.classpath
.project
/.gradle
*/.settings
*/bin
build/
resources/database/cafe.mwb.bak

# IntelliJ
*.iml

.idea
.idea/.name
.idea/gradle.xml
.idea/uiDesigner.xml
.idea/sqldialects.xml
.idea/compiler.xml
.idea/workspace.xml
.idea/copyright
.idea/modules.xml
.idea/misc.xml
.idea/libraries
.idea/vcs.xml